parameters:
    app_portal.actor.form.handler.class: App\PortalBundle\Form\Handler\Actor\ActorFormHandler
    app_portal.new_actor.form.handler.strategy.class: App\PortalBundle\Form\Handler\Actor\NewActorFormHandlerStrategy
    app_portal.update_actor.form.handler.strategy.class: App\PortalBundle\Form\Handler\Actor\UpdateActorFormHandlerStrategy

    app_portal.movie.form.handler.class: App\PortalBundle\Form\Handler\Movie\MovieFormHandler
    app_portal.new_movie.form.handler.strategy.class: App\PortalBundle\Form\Handler\Movie\NewMovieFormHandlerStrategy
    app_portal.update_movie.form.handler.strategy.class: App\PortalBundle\Form\Handler\Movie\UpdateMovieFormHandlerStrategy

    app_portal.request_contact.handler.class: App\PortalBundle\Form\Handler\Contact\ContactFormHandler
    app_portal.contact.form.type.class: App\PortalBundle\Form\Type\ContactType

    app_portal.hashtag.form.type.class: App\PortalBundle\Form\Type\HashTagType
    app_portal.hashtag.form.collection_type.class: App\PortalBundle\Form\Type\HashTagCollectionType

services:
    app_portal.actor.form.handler:
        class: %app_portal.actor.form.handler.class%

    app_portal.new_actor.form.handler.strategy:
        class: %app_portal.new_actor.form.handler.strategy.class%
        arguments:
            - "@translator"
            - "@app_portal.actor.repository"
            - "@form.factory"
            - "@router"

    app_portal.update_actor.form.handler.strategy:
        class: %app_portal.update_actor.form.handler.strategy.class%
        arguments:
            - "@translator"
            - "@app_portal.actor.repository"
            - "@form.factory"
            - "@router"

    app_portal.movie.form.handler:
        class: %app_portal.movie.form.handler.class%
        calls:
            - [setActorManager, ['@app_portal.actor.manager']]
            - [setCategoryManager, ['@app_portal.category.manager']]
            - [setHashTagManager, ['@app_portal.hashtag.manager']]

    app_portal.new_movie.form.handler.strategy:
        class: %app_portal.new_movie.form.handler.strategy.class%
        arguments:
            - "@translator"
            - "@app_portal.movie.repository"
            - "@form.factory"
            - "@router"
            - "@security.token_storage"
            - "@event_dispatcher"

    app_portal.update_movie.form.handler.strategy:
        class: %app_portal.update_movie.form.handler.strategy.class%
        arguments:
            - "@translator"
            - "@app_portal.movie.repository"
            - "@app_portal.hashtag.manager"
            - "@security.authorization_checker"
            - "@form.factory"
            - "@router"
            - "@event_dispatcher"

    app_portal.request_contact.handler:
        class: %app_portal.request_contact.handler.class%
        arguments: ['@app_portal.contact.manager']

    app_portal.hashtag.form:
        class: %app_portal.hashtag.form.collection_type.class%
        arguments: [%app_portal.max_hashtag_limit%]
        tags:
            - { name: form.type, alias: hashtags }

    app_portal.hashtag.form.type:
        class: %app_portal.hashtag.form.type.class%
        tags:
            - { name: form.type, alias: app_portal_hashtag }

    app_portal.contact.form.type:
            class: %app_portal.contact.form.type.class%
            arguments: ['@doctrine.orm.entity_manager']
            tags:
                - { name: form.type, alias: app_portal_contacttype }